@font-face {
    font-family: 'Pricedown';
    src: url('ressources/fonts/Pricedown Bl.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header {
    background-color: green;
    padding-bottom: 10px;
}

body {
    font-family: 'Pricedown', Arial, sans-serif;
    background-color: green;
    color: white;
}

.card-body,
.mission-checkbox + label,
.form-check-label {
    font-family: Arial, sans-serif;

}

.card-body {
    background-color: rgba(0, 0, 0, 0.5);
}

.accordion-item {
    background-color: transparent !important;
}

.accordion-button {
    font-size: 25px;
    background-color: black !important;
    color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button:not(.collapsed) {
    background-color: black !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    filter: invert(1);
}

.text-white {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}

.form-check-label {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}



.progress-head {
    height: 40px;
    font-size: 2rem;
}
.progress-bar {
    text-align: center;
    color: white !important;
    background-color: #28a745;
}
#progress-percentage {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.counter-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    min-width: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.counter-button {
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.counter-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

